<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaUsrServlet</servlet-name>
        <servlet-class>controle.ValidaUsrServlet</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby://localhost:1527/clinica</param-value>
        </init-param>
        <init-param>
            <param-name>usuario</param-name>
            <param-value>adm</param-value>
        </init-param>
        <init-param>
            <param-name>senha</param-name>
            <param-value>123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TelaCadastroServlet</servlet-name>
        <servlet-class>controle.TelaCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleServlet</servlet-name>
        <servlet-class>controle.ControleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaUsrServlet</servlet-name>
        <url-pattern>/ValidaUsrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TelaCadastroServlet</servlet-name>
        <url-pattern>/TelaCadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleServlet</servlet-name>
        <url-pattern>/ControleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
